.chakra-ui-dark .ql-toolbar.ql-snow span, 
.chakra-ui-dark .ql-toolbar.ql-snow button {
    color: #fff;
}
.chakra-ui-dark .ql-snow .ql-stroke {
    stroke: #fff !important;
}
.ql-editor {
    color: #64748b;
}