.chakra-ui-dark .ql-toolbar.ql-snow span, 
.chakra-ui-dark .ql-toolbar.ql-snow button {
    color: #64748b;
}
.chakra-ui-dark .ql-snow .ql-stroke {
    stroke: #64748b !important;
}

body.chakra-ui-light .ql-editor {
    color: #4a505b;
}
body.chakra-ui-dark .ql-editor {
    color: #ffffff;
}
body.chakra-ui-light .godmod-progress {
    background: #fff;
}
body.chakra-ui-dark .godmod-progress {
    background: #1a202c;
}
.ql-container.ql-snow {
    height: calc(100vh - 152px);
}
.chakra-input, .chakra-textarea {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1rem;
}
body.chakra-ui-light .chakra-input, 
body.chakra-ui-light .chakra-textarea {
    border: 1px solid #e2e8f0;
}
.godmode-notification {
    border: 1px dashed rgba(255, 255, 255, 0.1)
}
body.chakra-ui-light .godmode-notification {
    border: 1px dashed #c6c6c6;
}
.custom-btn-1 {
    background-color: transparent;
    color: #E2E8F0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.2s;
    line-height: 17px;
    height: unset;
}
.custom-btn-1:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
body.chakra-ui-light .custom-btn-1 {
    color: #ffffff;
    border: 1px solid #2196F3;
    background: #2196F3;
}
body.chakra-ui-light .custom-btn-1:hover {
    background-color: #158ae7;
}

.editor-right-col {
    height: calc(100vh - 152px);
    padding: 0;
    border-radius: 2px
}
.ql-container.ql-snow {
    border: none !important;
    border-radius: 5px
}
.ql-toolbar.ql-snow {
    border: none !important;
    margin-bottom: 10px;
}
.ql-editor p {
    margin-bottom: 10px !important;
    font-size: 15px;
    line-height: 24px;
}
.ql-editor ol > li, .ql-editor ul > li {
    list-style-type: none;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 10px;
}
.ql-editor h1,
.ql-editor h2, 
.ql-editor h3, 
.ql-editor h4,
.ql-editor h5 {
    margin-bottom: 13px !important;
    font-weight: 700;
}
/* Scrollbar Styling for Webkit Browsers */
.ql-editor::-webkit-scrollbar {
    width: 10px;
}

body.chakra-ui-light .godmod-progress {
    background: #fff;
}
body.chakra-ui-dark .godmod-progress {
    background: #1a202c;
}
  
